<div style="margin-top: 105px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="swiper effect-coverflow-swiper rounded pb-5">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/assets/userimg/banner1.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/userimg/banner2.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/userimg/banner3.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/userimg/banner4.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/userimg/banner5.png" alt="" class="img-fluid" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/userimg/banner6.jpg" alt="" class="img-fluid" />
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-dark"></div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->
