@{
    ViewData["Title"] = "Liên hệ";
    Layout = "_userLayout";
}

<div class="text-center">
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
    <h1 class="display-4">Liên hệ!</h1>
</div>